<div class="flex flex-col items-center w-full"> 
  <div class="flex flex-row w-full justify-center">
    <h2 class="font-bold sm:text-8xl text-4xl font-righteous text-zinc-800"><%= @disc.model %></h2>
  </div>
  <h3 class="font-bold sm:text-4xl text-2xl font-righteous text-zinc-800"><%= @disc.maker %></h3>

  <div class="bg-clip-padding backdrop-filter bg-gradient-to-b from-slate-100 to-slate-300 border-t border-l border-gray-200 inset-shadow rounded-lg w-11/12 flex flex-col p-2 gap-1 items-center">
    <div class="flex w-11/12">
      <div class="w-1/2 flex">
        <div class="w-1/2 text-right">
          Weight&nbsp|
        </div>
        <div class="w-1/2">
          <span class="font-bold">&nbsp<%= @disc.weight %></span><span class="text-sm">gr</span>
        </div>
      </div>
      <div class="w-1/2 flex">
        <div class="w-1/2 text-right">
          Height&nbsp|
        </div>
        <div class="w-1/2">
          <span class="font-bold">&nbsp<%= @disc.height %></span><span class="text-sm">cm</span>
        </div>
      </div>
    </div>
    <div class="flex w-11/12">
      <div class="w-1/2 flex">
        <div class="w-1/2 text-right">
          Diameter&nbsp|
        </div>
        <div class="w-1/2">
          <span class="font-bold">&nbsp<%= @disc.diameter %></span><span class="text-sm">cm</span>
        </div>
      </div>
      <div class="w-1/2 flex">
        <div class="w-1/2 text-right">
          Rim&nbspDepth&nbsp|
        </div>
        <div class="w-1/2">
          <span class="font-bold">&nbsp<%= @disc.depth %></span><span class="text-sm">cm</span>
        </div>
      </div>
    </div>
    <div class="flex w-11/12">
      <div class="w-1/2 flex">
        <div class="w-1/2 text-right">
          Inner&nbspDiam.&nbsp|
        </div>
        <div class="w-1/2">
          <span class="font-bold">&nbsp<%= @disc.rimdiameter %></span><span class="text-sm">cm</span>
        </div>
      </div>
      <div class="w-1/2 flex">
        <div class="w-1/2 text-right">
          Rim&nbspWidth&nbsp|
        </div>
        <div class="w-1/2">
          <span class="font-bold">&nbsp<%= @disc.rimthickness %></span><span class="text-sm">cm</span>
        </div>
      </div>
    </div>
    <div class="flex justify-center w-11/12">
      <div class="w-1/2 flex">
        <div class="w-1/2 text-right">
          Flexibility&nbsp|
        </div>
        <div class="w-1/2">
          <span class="font-bold">&nbsp<%= @disc.flex %></span><span class="text-sm">kg</span>
        </div>
      </div>
    </div>
    <div class="flex w-11/12 mt-4">
      <div class="w-1/2 flex">
        <div class="w-1/2 text-right">
          Speed&nbsp|
        </div>
        <div class="w-1/2">
          <span class="font-bold">&nbsp<%= @disc.speed %></span>
        </div>
      </div>
      <div class="w-1/2 flex">
        <div class="w-1/2 text-right">
          Glide&nbsp|
        </div>
        <div class="w-1/2">
          <span class="font-bold">&nbsp<%= @disc.glide %></span>
        </div>
      </div>
    </div>
    <div class="flex w-11/12">
      <div class="w-1/2 flex">
        <div class="w-1/2 text-right">
          Turn&nbsp|
        </div>
        <div class="w-1/2">
          <span class="font-bold">&nbsp<%= @disc.turn %></span>
        </div>
      </div>
      <div class="w-1/2 flex">
        <div class="w-1/2 text-right">
          Fade&nbsp|
        </div>
        <div class="w-1/2">
          <span class="font-bold">&nbsp<%= @disc.fade %></span>
        </div>
      </div>
    </div>

  </div>

<div class="flex glass-box justify-center w-full p-2 my-2 w-11/12 gap-4">
  <% if @disc.user_id != 0 %>
    <%= link_to 'Edit this disc', edit_disc_path(@disc), class: "btn-yellow" %>
  <% end %>
  <%= link_to 'Back', 'javascript:history.back()', class: "btn-blue" %>
  <%= link_to 'Discbag', home_discbag_path, class: "btn-green" %>

  <% if current_user.discs.include? @disc %>
    <%= button_to "Remove from Bag", Disckey.find_by(disc_id: @disc.id, user_id: current_user.id), method: :delete, class:"btn-yellow" %>
  <% else %>
    <%= turbo_frame_tag "new_disckey", src: new_disckey_path(:disc_id => @disc.id), target:"_top" %>
  <% end %>
</div>

</div>
