<div class="flex flex-col items-center w-full"> 
  <div class="flex flex-row px-6 justify-center">
    <h2 class="font-bold sm:text-8xl text-4xl font-righteous text-zinc-800 pt-4"><%= @course.name %></h2>
  </div>
  <h3 class="font-bold sm:text-4xl text-2xl font-righteous text-zinc-800 pb-4"><%= @course.city %>,&nbsp<%= @course.state %></h3>

  <div class="hidden"><%= @course.longitude %></div>
  <div class="hidden"><%= @course.latitude %></div>
  <%= image_tag "https://maps.googleapis.com/maps/api/staticmap?zoom=17&size=400x300&markers=size:small%7Ccolor:red%7C#{@course.latitude},#{@course.longitude}&key=#{ENV["GMAPS_API"]}", alt: "Map", class:"mb-4 w-5/6 rounded-lg max-w-[600px]" %>

  <div class="gray-box w-5/6 flex flex-col p-2 gap-1 items-center">
    <div class="flex w-11/12">
      <div class="w-1/2 flex justify-center">
        <span class="font-bold"><%= @course.holes %></span>&nbspholes
      </div>
      <div class="w-1/2 flex justify-center">
        rated<span class="font-bold">&nbsp<%= @course.rating %></span><span class="text-sm">/5</span>
      </div>
    </div>
    <div class="flex w-11/12 mb-2">
      <% if @course.tee_1_clr != "" %>
        <div class="w-1/2 flex items-center">
          <div class="w-1/2 text-right">
            Tee 1 |
          </div>
          <div class="flex items-center w-1/2 pl-1">
            <div class="rounded-full h-6 w-6" style="background-color:#<%= @course.tee_1_clr %>"></div>
            <%= link_to 'Play', new_card_path(tee: 1, course_id: @course.course_id), class: "btn-green ml-2 py-1 px-1 text-sm md:text-md" %>
          </div>
        </div>
      <% end %>

      <% if @course.tee_2_clr != "" %>
        <div class="w-1/2 flex items-center">
          <div class="w-1/2 text-right">
            Tee 2 |
          </div>
          <div class="flex items-center w-1/2 pl-1">
            <div class="rounded-full h-6 w-6" style="background-color:#<%= @course.tee_2_clr %>"></div>
            <%= link_to 'Play', new_card_path(tee: 2, course_id: @course.course_id), class: "btn-green ml-2 py-1 px-1 text-sm md:text-md" %>
          </div>
        </div>
      <% end %>
    </div>

    <div class="flex w-11/12">
      <% if @course.tee_3_clr != "" %>
        <div class="w-1/2 flex items-center">
          <div class="w-1/2 text-right">
            Tee 3 |
          </div>
          <div class="flex items-center w-1/2 pl-1">
            <div class="rounded-full h-6 w-6" style="background-color:#<%= @course.tee_3_clr %>"></div>
            <%= link_to 'Play', new_card_path(tee: 3, course_id: @course.course_id), class: "btn-green ml-2 py-1 px-1 text-sm md:text-md" %>
          </div>
        </div>
      <% end %>
      <% if @course.tee_4_clr != "" %>
        <div class="w-1/2 flex items-center">
          <div class="w-1/2 text-right">
            Tee 4 |
          </div>
          <div class="flex items-center w-1/2 pl-1">
            <div class="rounded-full h-6 w-6" style="background-color:#<%= @course.tee_4_clr %>"></div>
            <%= link_to 'Play', new_card_path(tee: 4, course_id: @course.course_id), class: "btn-green ml-2 py-1 px-1 text-sm md:text-md" %>
          </div>
        </div>
        <% end %>
    </div>
  </div>

  <% if @course.tee_1_clr != "" && @course.holepins[0].tee_1_par != 0%>
    <div class="flex flex-col w-10/12 mt-4">
      <div class="flex flex-col justify-evenly items-center gray-box border-4" style="border-color:#<%= @course.tee_1_clr %>">

        <div class=" flex justify-evenly align-center w-full">
          <% (1..9).each do |x|%>
            <div class="font-raleway w-[11.11%] text-center"><%= x %></div>
          <% end %>
        </div>
        <div class=" flex justify-evenly align-center w-full">
          <% @course.holepins.each_with_index do |element, index| %>
            <% if index < 9 %>
              <div class="font-bold font-righteous text-lg w-[11.11%] text-center">
                <%= element.tee_1_par %>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
      <% if @course.holes == "18" %>
        <div class="flex flex-col justify-evenly items-center gray-box border-4 -mt-1" style="border-color:#<%= @course.tee_1_clr %>">
          <div class=" flex justify-evenly align-center w-full">
            <% (10..18).each do |x|%>
              <div class="font-raleway w-[11.11%] text-center"><%= x %></div>
            <% end %>
          </div>
          <div class=" flex justify-evenly align-center w-full">
            <% @course.holepins.each_with_index do |element, index| %>
              <% if index > 8 %>
                <div class="font-bold font-righteous text-lg w-[11.11%] text-center">
                  <%= element.tee_1_par %>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      <% end %>    
    </div>
  <% end %>

  <% if @course.tee_2_clr != "" && @course.holepins[0].tee_2_par != 0 %>
    <div class="flex flex-col w-10/12 mt-4">
      <div class="flex flex-col justify-evenly items-center gray-box border-4" style="border-color:#<%= @course.tee_2_clr %>">

        <div class=" flex justify-evenly align-center w-full">
          <% (1..9).each do |x|%>
            <div class="font-raleway w-[11.11%] text-center"><%= x %></div>
          <% end %>
        </div>
        <div class=" flex justify-evenly align-center w-full">
          <% @course.holepins.each_with_index do |element, index| %>
            <% if index < 9 %>
              <div class="font-bold font-righteous text-lg w-[11.11%] text-center">
                <%= element.tee_2_par %>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
      <% if @course.holes == "18" %>
        <div class="flex flex-col justify-evenly items-center gray-box border-4 -mt-1" style="border-color:#<%= @course.tee_2_clr %>">
          <div class=" flex justify-evenly align-center w-full">
            <% (10..18).each do |x|%>
              <div class="font-raleway w-[11.11%] text-center"><%= x %></div>
            <% end %>
          </div>
          <div class=" flex justify-evenly align-center w-full">
            <% @course.holepins.each_with_index do |element, index| %>
              <% if index > 8 %>
                <div class="font-bold font-righteous text-lg w-[11.11%] text-center">
                  <%= element.tee_2_par %>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      <% end %>    
    </div>
  <% end %>

  <% if @course.tee_3_clr != "" && @course.holepins[0].tee_3_par != 0 %>
    <div class="flex flex-col w-10/12 mt-4">
      <div class="flex flex-col justify-evenly items-center gray-box border-4" style="border-color:#<%= @course.tee_3_clr %>">

        <div class=" flex justify-evenly align-center w-full">
          <% (1..9).each do |x|%>
            <div class="font-raleway w-[11.11%] text-center"><%= x %></div>
          <% end %>
        </div>
        <div class=" flex justify-evenly align-center w-full">
          <% @course.holepins.each_with_index do |element, index| %>
            <% if index < 9 %>
              <div class="font-bold font-righteous text-lg w-[11.11%] text-center">
                <%= element.tee_3_par %>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
      <% if @course.holes == "18" %>
        <div class="flex flex-col justify-evenly items-center gray-box border-4 -mt-1" style="border-color:#<%= @course.tee_3_clr %>">
          <div class=" flex justify-evenly align-center w-full">
            <% (10..18).each do |x|%>
              <div class="font-raleway w-[11.11%] text-center"><%= x %></div>
            <% end %>
          </div>
          <div class=" flex justify-evenly align-center w-full">
            <% @course.holepins.each_with_index do |element, index| %>
              <% if index > 8 %>
                <div class="font-bold font-righteous text-lg w-[11.11%] text-center">
                  <%= element.tee_3_par %>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      <% end %>    
    </div>
  <% end %>

  <% if @course.tee_4_clr != "" && @course.holepins[0].tee_4_par != 0 %>
    <div class="flex flex-col w-10/12 mt-4">
      <div class="flex flex-col justify-evenly items-center gray-box border-4" style="border-color:#<%= @course.tee_4_clr %>">

        <div class=" flex justify-evenly align-center w-full">
          <% (1..9).each do |x|%>
            <div class="font-raleway w-[11.11%] text-center"><%= x %></div>
          <% end %>
        </div>
        <div class=" flex justify-evenly align-center w-full">
          <% @course.holepins.each_with_index do |element, index| %>
            <% if index < 9 %>
              <div class="font-bold font-righteous text-lg w-[11.11%] text-center">
                <%= element.tee_4_par %>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
      <% if @course.holes == "18" %>
        <div class="flex flex-col justify-evenly items-center gray-box border-4 -mt-1" style="border-color:#<%= @course.tee_4_clr %>">
          <div class=" flex justify-evenly align-center w-full">
            <% (10..18).each do |x|%>
              <div class="font-raleway w-[11.11%] text-center"><%= x %></div>
            <% end %>
          </div>
          <div class=" flex justify-evenly align-center w-full">
            <% @course.holepins.each_with_index do |element, index| %>
              <% if index > 8 %>
                <div class="font-bold font-righteous text-lg w-[11.11%] text-center">
                  <%= element.tee_4_par %>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      <% end %>    
    </div>
  <% end %>

  <% if @cards.length > 0 %>
    <div class="flex flex-col glass-box rounded-lg items-center w-10/12 py-4">
      <% @cards.each do |card| %>
        <div class="flex gray-box justify-center gap-12 px-4 py-1">
          <p class="font-bold"><%= card.score %></p>
          <p><%= card.created_at.strftime("%m/%d/%y") %></p>
          <p class="font-bold"><%= card.course_id %></p>
        </div>
      <% end %>
    </div>
  <% end %>
  <div class="flex justify-center items-center p-2 my-2 w-11/12">
    <%= link_to 'Back', 'javascript:history.back()', class: "btn-blue" %>
  </div>
</div>